extends layout

block content
                           
  div(class="container")
    div(class="fa fa-home labColor us")
      span(class="fa fa-plus" style="margin-left: 40px;")
      a(href="/search")
         img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogous")
    div
      //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
      h1!= title + "."
      div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
        h3(style="margin-top: 10px;")="Who Are We?!"
      div.pointsLayout.alert.results
          span="The Save the Children Fund was founded in London, England, on 15 April 1919 by Eglantyne Jebb and her sister Dorothy Buxton as an effort to alleviate starvation of children in Germany and Austria-Hungary during the Allied blockade of Germany of World War I which continued after the Armistice.[4] The Fight the Famine Council was initially started earlier in 1919 in order to put political pressure on the British government to end the blockade, the first meeting having been held at the home of Catherine Courtney, at 15 Cheyne Walk. However, on 15 April 1919, the sisters succeeded in separating itself from the politics of the Council and creating a separate 'Save the Children Fund'.[4] In May 1919, the Fund was publicly established at a meeting in London's Royal Albert Hall in order to 'provide relief to children suffering the effects of war' and raise money for emergency aid to children suffering from the wartime shortages of food and supplies.[5]"
      div.pointsLayout.alert.results
          span="In December 1919, Pope Benedict XV publicly announced his support for Save the Children, and declared 28 December 'Innocents Day' in order to collect donations[6] The first branch was opened in Fife, Scotland in 1919. A counterpart, Rädda Barnen (which means 'Save the Children'), was founded later that year in Sweden, and together with a number of other organizations, they founded the International Save the Children Union in Geneva on 6 January 1920. Jebb built up excellent relationships with other Geneva-based organisations, including the Red Cross who supported Save’s International foundation.[4] Jebb used many ground-breaking fund-raising techniques, making Save the Children the first charity in the United Kingdom to use page-length advertisements in newspapers. Jebb contracted doctors, lawyers and other professionals in order to devise mass advertisement campaigns. In 1920, Save the Children started individual child sponsorship as a way to engage more donors. By the end of the year, Save the Children raised the equivalent to about £8,000,000 in today’s money."