extends layout

block content
                           
 div(class="container")
   - if (loggedIn!=true)
    div(class="front")
       a(href="/search")
         img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
   - if (loggedIn==true)
    a(href="/search")
     img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
   div(class="fa fa-home labColor" style="font-size: 200pt;text-align: center; position: relative; width: 100%;")
   div
    div
     //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
     h1!= title + "."
     div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
      h3(style="margin-top: 10px;")="Who Are We?!"
     div.pointsLayout.alert.results
        span="LabYoke is a web based software application that links multiple labs together within a department to share chemicals and reagents. Utilizing LabYoke will allow students and trainees to share lab reagents which will help lower costs and save time making experiments more efficient."