extends layout

block content


    div(class="container login")
        div(style="float: left; width: 350px;")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Andria's Playground.'
            p Coming soon :)
            p Get to work Schib!!!

