extends layout

block content


  div(class="container search")
     img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", style="border-width:0px; width: 300px")
     h1= 'Search!'
     p Start your search by typing in the name of the chemical.
     div(id="ctl00_Div2" class="row")
       div
        if message
            div(class="alert alert-danger")!= message
        form(action="/login" method="post")
            div(class="textentry")
                input(name="user" type="text" id="user" class="form-control" placeholder="Looking for...")
            div(class="buttons")
                //input(type="submit" class="button" value="Get in")
                button.btn.btn-success.btn-lg.btn-block(type='submit') Find
                img(src="images/search.png", alt="The Search", title="Search", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")
 
     div(style="padding:5px")
        

