extends layout

block content

	div(class="container login")
		div(style="float: left; width: 350px;")
			a(href="/search")
				img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
			h1= 'Share.'
			form(id="uploadForm", enctype="multipart/form-data", action="share", method="post")
				input(type="file", name="file")=Upload
				div(class="buttons")
					button.btn.btn-success.btn-lg.btn-block(type="submit",value="Upload",name="submit") Upload File
					img(src="images/ship.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")
			if json
				-var ob = JSON.parse(json)
				-for(var prop in ob)
					p #{prop}: #{ob[prop]}